.header {
    /* background-color: #121212; */
    background-color: #2d3436;
background-image: linear-gradient(-90deg, #434343 0%, #000000 60%);
    padding: 1.5em 0;
    color: #fff;
}

.nav-logo h1 {
    margin: 0;
    font-weight: 700;
}